*
{
   box-sizing: border-box;
}
body{
   background-color: #f1f1f1;
}
html{
   font-family:sans-serif;
}

a{
   text-decoration: none;
}
ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
img{
   max-width: 100%;
   margin: 0;
   padding: 0;
   
}

h2{
   margin: 0;
   padding: 0;
}
input{
   padding: 0;
   margin: 0;
}
.text-center
{
   text-align: center;
}

.box{
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   /* padding-right: 15px;
   padding-left: 15px; */
   
}

/* Header-logo */
.header-logo
{
   height: 115px;
}

.box-logo{
   display: flex;
   align-items: center;
   height: 100%;
   

}


.logo-img {
  
   margin-right: 25px;

}
.header-tell {
   font-family: MullerBold, Regular;
   margin-right: auto;  
   font-size: 22px;
   line-height: 1;
   color: #666666;
}
.header-icon {
}
.header-link {
   font-size: 16px;
   line-height: 1;
   color: #cc9933;
}

/* Header-nav */


.header-nav {
   height: 70px;
  
}
.box-nav {
   display: flex;
   background-color: #ffffff;
   height: 100%;
   border-radius: 12px;
   align-items: center;

}
.nav {
  margin-right: auto;
  margin-left: 20px;
}
.nav-list {
   display: flex;
}
.nav-item:not(:last-child) {

   margin-right: 45px;
 
}
.nav-link {
   font-family: MullerRegular, Regular;

   color: #333333;
   font-size: 16px;
   line-height: 1;
}
.poisk
{
   min-width: 355px;
   height: 50px;
   margin-right: 20px;
   border-style: none;
   border-radius: 15px;
   background-color: #f1f1f1;
   
}

/* Booking */

.section-booking {
   padding-top: 65px;
   padding-bottom: 65px;
}

.Heding
{
   margin-left: 40px;
   font-family: MullerRegular;
   font-size: 40px;
}

.section-booking-list
{
   display: flex;
   justify-content: space-between;
}

.section-booking-form {
   display: flex;
   flex-direction:column;
   padding-top: 25px;
   padding-bottom: 20px;
}

.poledlya-voda
{
   width: 518px;
   height: 70px;
   border-radius: 12px;
   border-style: none;
   
}

.poledlya-voda:not(:last-child)
{
   margin-bottom: 20px;
}
.btr-booking-link {
   display: inline-block;
   background-color: #cc9933;
   width: 159px;
   height: 70px;
   border-radius: 12px;
   padding-top: 25px;
   padding-bottom: 30px;
}
.btr-booking-link
{
font-family: MullerBold, Regular;
font-size: 16px;
 color: #ffffff;
}

.section-booking-subtitle
{
   font-family: MullerRegular;
   font-size: 16px;
   color: #d6b066;
   line-height: 1;
   margin-left: 25px;
}
.section-booking-span
{
   font-size: 16px;
   font-family: MullerRegular;
   color: #999999;
}

.special
{
   padding-top: 25px;
   padding-bottom: 20px;
}

.special-img
{
   width: 580px;
  height: 540px;
   background-image: url(/img/22.png) ;
   background-repeat: no-repeat;

   padding-top: 25px;
   padding-bottom: 20px;
}

.special-heading
{
   display: block;
   font-family: MullerBold;
   color: #ffffff;
   font-size: 66px;
   margin-top: 220px;
   margin-left: 42px;
   line-height: 1;
   margin-bottom: 39px;
}
.special-flex
{
   display: flex;
   align-items: center;
}

.special-description
{
   font-family: MullerRegular, Regular;
   font-size: 35px;
   color: #af9a8a;
   
   margin-left: 42px;
   margin-right: 35px;
   line-height: 1;
}

.special-link
{
   font-family: MullerRegular, Regular;
   font-size: 16px;
   color: #ffcc66;
}
.special-icon
{
display: block;
margin-left: 5px;

  
}

/* about */

.box-about-div 
{
   margin-left: 44px;
}

.main-heading {
   font-family: MullerRegular,  Regular;
   font-size: 40px;
   text-height: 1;

   
}
.section-about-subtitle {
font-family: MullerRegular,Regular;
max-width: 880px;
font-size: 16px;
padding-bottom: 60px;
max-width: 800px;
line-height: 2 ;
color: #828282;

   
}

/* services */

.services-heading
{
   margin-left: 44px;
}
.section-services-list {
   display: flex;
   margin-top: 50px;   
   
}
.section-services-item {
   
   flex: 1 1 50%;
}
.section-services-item:not(:last-child)
{
   margin-right: 20px;
}
.section-services-img {


}
.section-services-subtitle-description{
   margin-top: -5px;
   width: 572px;
   background-color: #ffffff;
   padding-left: 45px;
   padding-top: 35px;
   padding-bottom: 40px;
   

}

.section-services-link {
   font-family: MullerMedium, Regular;
   font-size: 22px;
   color: #cc9933;
   


}
.section-services-subtitle {
   max-width: 360px;
   font-family: MullerRegular, Regular;
   font-size: 16px;
   color: #858585;
   line-height: 2;
}

/* advantages */

.section-advantages {
}
.box {
}
.section-heading {
   margin-left: 44px;
}
.section-advantages-list {

   display: flex;
   margin-top: 50px; 

}
.section-advantages-item {
   flex: 1 1 33.33%;
   background-color: #fff;
   border-radius: 12px;
}
.section-advantages-item:not(:last-child){
   margin-right: 20px;
}
.section-advantages-icon {
   margin-top: 40px;
   margin-left: 45px;
}


.section-advantages-description {
   

   padding-left: 45px;
   padding-bottom: 40px;

   font-family: MullerRegular, Regular;
   font-size: 16px;
   line-height: 2;
   color: #333333;
}

/* accommodation */


.accommodation-heading {
   margin-left: 44px;
}


.section-accommodation-list {
   display:flex;
   margin-top: 50px; 
}
.section-accommodation-item {
   flex: 1 1 33.33%;
   background-color: #fff;
   border-radius: 12px;

}

.section-accommodation-item:not(:last-child) {
   margin-right: 20px;
}
   
.section-accommodation-img
{
   width: 100%;
}
.section-accommodation-description {
   padding-left: 45px;
   padding-bottom: 40px;
}
.section-accommodation-price {
   display: inline-block;
   font-family: Myriad Pro, Regular;
   font-size: 16px;
   color:#969696
}
.price {
   font-family: Myriad Pro, Regular;
   font-size: 22px;
   color: #333333;
}

.night
{
   color: #333333;
}
.section-accommodation-star-svg {
   display: inline-block;
   margin-left: 40px;
}
.star {
}
.section-accommodation-subtitle {
   font-family:Myriad Pro, Regular ;
   font-size: 16px;
   color: #333333;
   margin-top: 0 ;
}
.section-accommodation-subtitle-citi {
   font-family:Myriad Pro, Regular ;
   font-size: 16px;
   color: #999;
   padding-bottom: 20px;
}
.section-accommjdation-btr {
   display: block;
   
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100px;
   height: 40px;
   border: 2px solid #cc9933;
   border-radius: 12px;
   text-align: center;
   font-family:Myriad Pro, Regular ;
   font-size: 16px;
   color: #cc9933;

   
   
}
.section-accommodation-item-seen
{
   display: flex;
   
   background-image: url(/img/41.png)  ;
   background-repeat: no-repeat;
   background-size: cover;

}
.section-accommodation-link {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   flex: auto;
   padding-bottom: 50px;


   font-family: MullerMedium, Regular;
   font-size: 22px;
   color: #fff;
}
.section-accommodation-icon {
   display: flex;
  
   margin-left: 15px;
      
       margin-bottom: 3px;
   }

   /* contact */

   .section-contact {
   }
   .box {
   }
   .main-heading {
      padding-top: 60px;
      padding-bottom: 35px;
   }
   .section-conteiner-contacts {
      display: flex;
   }
   .section-address
   {
      
   }

   /* Contacts */
.box-flex
{
   display: flex;
}
.main-heading-box
{
   display: flex;
}
.main-heading-margin
{
   margin-left: 44px;
}


.section-contact-list
{
   display: flex;
   flex: 1 1 33.33%;
   max-width: 472px;
   flex-direction: column;
   justify-content: center;   
   background-color: #fff;
   border-radius: 12px  ;
}

.section-contact-items
{
   display: flex;
   max-width: 380px;
   margin-top: 40px;
   
}


   .section-address {
    max-width: 110px;
      font-family: MullerBold,Regular;
      font-size: 22px;
      color: #666666;
      padding-left: 45px;
   }
 
   .section-address-description
   {
      
      max-width: 210px;
      margin-left: 75px;
   }
   .font-famali
   {
      font-family: MullerRegular, Regular;
      font-size: 16px;
      color: #333333;
   }

.section-phone-description
{
   display: block;
}
.section-email-description
{
   display: block;
}
.description-Gravfic
{
   max-width: 170px;
}
.line
{
   max-width: 364px;
   height: 1px;
   margin-left: 45px;
       margin-top: 30px;
   background-color: #cccccc;
}
.section-phone-description 
{
   font-family: MullerRegular, Regular;
   font-size: 16px;
   color: #cc9933;
   line-height: 1;
   
}
.email-strong-2   
{
   width: 300px;
}
.section-email-description
{
   display: inline-block;
   font-family: Myriad Pro, Regular;
   font-size: 16px;
   color: #cc9933;
   line-height: 1;
}
.span-famali
{
color: #999999;
}

.btr
{
   display: block;
   width: 215px;
   height: 70px;
   margin-top: 45px;
   margin-bottom: 45px;
   margin-left: 45px;
   
   padding-bottom: 23px;
   padding-top: 23px;

   border:1px solid #cc9933;
   border-radius: 12px;

   font-family: MullerBold, Regular;
   font-size: 16px;
   color: #cc9933;

}

.section-contact-list-about {
   display: flex;
   flex-direction: column;
   margin-left: 180px;
   justify-content: center;
   padding-bottom: 80px;

}
.section-contact-items-about {
 padding: 0;
 margin: 0;
 margin-bottom: 20px;
}

.section-contact-width
{
   max-width: 340px;

   min-width:340px ;
   height: 70px;
   border-radius: 12px;
   border-style: none;
}



.section-contact-messeng {
   max-height: 110px;
   min-height: 110px;
}
.section-contact-btr {
   display: block;
   width: 340px;
   height: 70px;


   background-color: #cc9933;
   border-radius: 12px;
   border-style: none;

   font-family: MullerBold,Regular;
   font-size: 16px;
   color: #fff;
}
.main-heading-out
{
   padding: 0;
   margin: 0;
   margin-bottom: 40px;
}

/* footer */

.footer-box {
   background-color: #333333;
   border-radius: 12px;
   
   margin-top: 20px;
   margin-bottom: 50px;
   overflow: hidden;
}
.footer-list {
display: flex;
}
.footer-item {
   margin-right: 125px;
}

.footer-item-div
{
   margin-left: 50px;
   margin-top: 50px;
   max-width: 260px;
}
.footer-item-div-phone
{
   margin-top: 50px;
}
.footer-main-style
{
   font-family: MullerRegular,Regular;
   font-size: 16px;
   color: #fff;
   line-height: 2;
   padding: 0;
   margin: 0;
}

.footer-subtitle {
   margin-bottom: 45px;
}
.footer-polition {
   padding-bottom: 45px;
   color: #cc9933;
}

.footer-main-style-right
{
   
   font-family: Myriad Pro, Regular;
   font-size: 16px;
   color: #fff;   
   line-height: 2;
}

.footer-phone {
}
.footer-phone-link {
   display: block;
   margin-top: -10px;
   color:#cc9933;
  
}
.footer-email {
   padding-top: 30px;
}
.footer-email-link {
   display: block;
   color: #cc9933;

}

.footer-img
{
   padding-left: 300px;
       margin-top: -120px;
       margin-bottom: -100px;
      
   }
